.fromLanguage,
.toLanguage {
  width: 15%;
  height: 75px;
}
.upload-container {
  margin: auto;
  background-color: rgb(222, 228, 228);
  text-align: center;
  box-shadow: 2px 4px 2px -1px gray;
  font-family: sans-serif;
  width: 90%;
}
.selectTitle {
  color: #fff;
  margin: 10px auto;
}

.fileUpload {
  /* min-width: 300px; */
  max-width: 350px;
  margin: 5px auto;
  padding: 50px 0;
}
.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  /* border: 1px dashed rgba(216, 98, 2,1); */
}
.file-input {
  padding: 10px;
  border: 0.1px;
  border-radius: 5px;
  background-color: rgb(136, 136, 136);
  text-align: center;
  color: #fff;
  /* margin: 5px; */
  box-shadow: 10px 11px 5px -4px rgba(167, 167, 167, 0.5);
  min-width: 150px;
}
.btnSubmit {
  padding: 15px;
  border: 0.1px;
  border-radius: 5px;
  background-color: rgb(93, 180, 52);
  text-align: center;
  color: #fff;
  margin: 10px;
  box-shadow: 10px 11px 5px -4px rgba(167, 167, 167, 0.5);
  min-width: 200px;
}
.btnSubmit:hover,
.file-input:hover {
  background-color: rgba(216, 98, 2, 0.8);
}
.serverMessage {
  background-color: rgba(105, 216, 2, 0.8);
  color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-width: 350px;
  margin: 20px auto;
  border-radius: 2px;
}
.serverMessageFailed {
  background-color: rgba(216, 52, 2, 0.8);
  color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-width: 350px;
  margin: 20px auto;
  border-radius: 2px;
}
